.footer {
  bottom: 0px;
  position: relative;
  height: 150px;
  width: 100%;
  background-color: #dbf1f7;
  border-radius: 200% / 50% 50% 0 0;
  margin-top: 10%;
  padding-top: 5%;
}

.footerHeading {
  color: black;
  font-size: 24px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
